@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Noto+Sans:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

img, video {
  vertical-align: middle;
}

body {
  line-height: 1;
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
}

#header {
  transition: all 0.5s;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
}
#header.on .h-top {
  display: none;
}
#header > section {
  width: 100%;
  display: flex;
  justify-content: center;
}
#header > section .center {
  width: 73%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .h-top {
  background-color: #f8f8f8;
  border-bottom: 1px solid #e1e1e1;
  box-sizing: border-box;
}
#header .h-top .center {
  line-height: 46px;
}
#header .h-top .center > div ul {
  display: flex;
}
#header .h-top .center > div ul li {
  font-size: 13px;
  position: relative;
}
#header .h-top .center > div ul li:first-child {
  margin: 0 20px 0 0;
}
#header .h-top .center > div ul li:last-child::after {
  display: none;
}
#header .h-top .center > div ul li::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  background-color: #e1e1e1;
}
#header .h-top .center .left ul {
  display: flex;
}
#header .h-top .center .left ul li {
  margin: 0 20px;
}
#header .h-top .center .left ul li::after {
  right: -20px;
  height: 20px;
}
#header .h-top .center .left ul li a img {
  margin-right: 7px;
}
#header .h-top .center .right {
  display: flex;
}
#header .h-top .center .right ul li {
  margin: 0 10px;
}
#header .h-top .center .right ul li:first-child {
  margin: 0 10px 0 0;
}
#header .h-top .center .right ul li::after {
  right: -10px;
  height: 13px;
}
#header .h-top .center .right ul:first-child li:last-child {
  margin-right: 30px;
}
#header .h-top .center .right ul:nth-child(2) {
  font-weight: 500;
}
#header .h-top .center .right .language {
  margin-left: 10px;
  font-size: 12px;
  border: none;
  background-color: #f8f8f8;
}
#header .h-bot {
  border-bottom: 1px solid #e1e1e1;
  background-color: #fff;
}
#header .h-bot .center .logo {
  padding: 13px 0;
}
#header .h-bot .center .gnbWrap {
  position: relative;
}
#header .h-bot .center .gnbWrap .gnb ul {
  display: flex;
}
#header .h-bot .center .gnbWrap .gnb ul li {
  margin: 0 32px;
  font-weight: 500;
  font-size: 16px;
}
#header .h-bot .center .gnbWrap .gnbBg {
  position: absolute;
  left: 0;
  top: 0;
}
#header .h-bot .center .b-r-ul {
  display: flex;
  text-align: center;
  align-items: center;
}
#header .h-bot .center .b-r-ul li {
  margin-left: 32px;
}
#header .h-bot .center .b-r-ul li:first-child {
  margin-left: 0;
}
#header .h-bot .center .b-r-ul li:nth-child(2) {
  position: relative;
  top: 2px;
}
#header .h-bot .center .b-r-ul li a p {
  font-size: 14px;
  color: #7a0ae1;
  margin-top: 7px;
}

#container {
  position: relative;
  z-index: 1;
}
#container .bannerSlide {
  margin-top: 146px;
}
#container .bannerSlide .swiper .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
}
#container .bannerSlide .swiper .swiper-wrapper .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}
#container .bannerSlide .swiper .swiper-wrapper .swiper-slide a img {
  width: 100%;
  height: 100%;
}
#container .bannerSlide .swiper .swiper-button-prev, #container .bannerSlide .swiper .swiper-button-next {
  width: 70px;
  height: 70px;
}
#container .bannerSlide .swiper .swiper-button-prev::after, #container .bannerSlide .swiper .swiper-button-next::after {
  display: none;
}
#container .bannerSlide .swiper .swiper-pagination {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  bottom: 70px;
  border-radius: 20px;
  width: 260px;
  line-height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
}
#container .bannerSlide .swiper .swiper-pagination .swiper-pagination-bullet {
  border: 2px solid #fff;
  position: relative;
  bottom: 2px;
}
#container .bannerSlide .swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fff;
}
#container .parkDate {
  border-bottom: 1px solid #e1e1e1;
  box-sizing: border-box;
  position: relative;
  bottom: 40px;
}
#container .parkDate .center {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 80px;
}
#container .parkDate .center img {
  margin-right: 18px;
}
#container .parkDate .center h2 {
  font-size: 19px;
  font-weight: 700;
  margin-right: 33px;
}
#container .parkDate .center p {
  font-size: 19px;
  font-weight: 700;
}
#container .parade {
  display: flex;
  justify-content: center;
  width: 100%;
}
#container .parade .center {
  width: 95%;
}
#container .parade .center .title {
  padding: 130px 0 40px;
  text-align: center;
  font-size: 35px;
  color: #fff;
}
#container .parade .center .title span {
  font-weight: 400;
}
#container .parade .center > p {
  font-size: 17px;
  text-align: center;
  color: #fff;
  padding-bottom: 120px;
}
#container .parade .center .swiper .swiper-wrapper .swiper-slide {
  padding-bottom: 280px;
}
#container .parade .center .swiper .swiper-wrapper .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
#container .parade .center .swiper .swiper-wrapper .swiper-slide a img {
  width: 100%;
  height: 350px;
}
#container .parade .center .swiper .swiper-wrapper .swiper-slide a::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
#container .parade .center .swiper .swiper-wrapper .swiper-slide a:hover .pr_title {
  font-weight: 500;
  text-shadow: 0 0 5px #550adf;
}
#container .parade .center .swiper .swiper-wrapper .swiper-slide a .pr_title {
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: #fff;
  font-weight: 400;
}
#container .benefit {
  display: flex;
  justify-content: center;
}
#container .benefit .center {
  width: 60%;
}
#container .benefit .center .title {
  text-align: center;
  padding: 130px 0 35px;
  font-size: 35px;
}
#container .benefit .center .title span {
  font-weight: 700;
}
#container .benefit .center > p {
  text-align: center;
  font-size: 16px;
  color: #9a9a9a;
  margin-bottom: 60px;
}
#container .benefit .center .list-wrap {
  display: flex;
  flex-wrap: wrap;
}
#container .benefit .center .list-wrap .list {
  width: 25%;
  border: 1px solid #dedede;
  box-sizing: border-box;
  transition: all 0.5s;
}
#container .benefit .center .list-wrap .list a {
  width: 100%;
  height: 100%;
  position: relative;
}
#container .benefit .center .list-wrap .list a::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border: 3px solid #6a20df;
  box-sizing: border-box;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: all 0.5s;
}
#container .benefit .center .list-wrap .list a img {
  margin: 30px auto;
  display: block;
}
#container .benefit .center .list-wrap .list a .price {
  padding-left: 30px;
  font-size: 16px;
  color: #6a20df;
  margin-bottom: 20px;
}
#container .benefit .center .list-wrap .list a .sub-title {
  font-size: 21px;
  font-weight: 700;
  padding: 0 30px 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#container .benefit .center .list-wrap .list:hover a::before {
  opacity: 1;
}
#container .benefit .center .more-btn {
  display: block;
  margin: 60px auto 120px;
  background-color: #6115eb;
  width: 220px;
  line-height: 55px;
  text-align: center;
  border-radius: 25px;
  color: #fff;
  font-size: 17px;
}
#container .news {
  display: flex;
  justify-content: center;
  padding-bottom: 115px;
}
#container .news .center {
  width: 60%;
}
#container .news .center .title {
  text-align: center;
  padding: 130px 0 40px;
  font-size: 35px;
  line-height: 50px;
  font-weight: normal;
}
#container .news .center .title span {
  font-weight: 700;
}
#container .news .center > p {
  text-align: center;
  font-size: 16px;
  padding-bottom: 60px;
  color: #9a9a9a;
  border-bottom: 1px solid #d9d9d9;
}
#container .news .center .exper .sub-title {
  padding: 50px 0 40px;
  font-size: 20px;
}
#container .news .center .exper > .list-wrap {
  display: flex;
  justify-content: space-between;
}
#container .news .center .exper > .list-wrap > .list {
  width: 24%;
  margin-bottom: 50px;
}
#container .news .center .exper > .list-wrap > .list:hover a img {
  box-shadow: 7px 7px 8px rgba(0, 0, 0, 0.3);
}
#container .news .center .exper > .list-wrap > .list:hover a p {
  font-weight: 700;
  color: #550adf;
}
#container .news .center .exper > .list-wrap > .list a img {
  margin-bottom: 30px;
  transition: all 0.5s;
}
#container .news .center .exper > .list-wrap > .list a p {
  font-size: 17px;
  color: #3f3f3f;
  font-weight: 500;
  transition: all 0.5s;
}
#container .news .center .bot {
  display: flex;
  justify-content: space-between;
}
#container .news .center .bot > .notice, #container .news .center .bot .ad {
  width: 49.5%;
}
#container .news .center .bot .notice {
  border: 1px solid #d9d9d9;
  padding: 0 40px 42px;
  box-sizing: border-box;
}
#container .news .center .bot .notice .n-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#container .news .center .bot .notice .n-top .sub-title {
  padding: 28px 0 40px;
}
#container .news .center .bot .notice .n-top .more-btn {
  position: relative;
  bottom: 5px;
  color: #6a6a6a;
}
#container .news .center .bot .notice .n-top .more-btn img {
  position: relative;
  bottom: 2px;
  margin-left: 7px;
}
#container .news .center .bot .notice .list-wrap {
  flex-wrap: wrap;
}
#container .news .center .bot .notice .list-wrap .list {
  width: 100%;
  margin-bottom: 20px;
}
#container .news .center .bot .notice .list-wrap .list:last-child {
  margin-bottom: 0;
}
#container .news .center .bot .notice .list-wrap .list:hover a .list-title {
  text-decoration: underline;
}
#container .news .center .bot .notice .list-wrap .list a {
  display: flex;
  justify-content: space-between;
}
#container .news .center .bot .notice .list-wrap .list a .list-title {
  font-size: 16px;
  font-weight: normal;
}
#container .news .center .bot .notice .list-wrap .list a .date {
  font-size: 12px;
  color: #6a6a6a;
}
#container .attraction {
  display: flex;
  justify-content: center;
}
#container .attraction .center {
  width: 60%;
  padding-bottom: 780px;
}
#container .attraction .center .title {
  text-align: center;
  padding: 130px 0 45px;
  font-size: 36px;
  font-weight: normal;
}
#container .attraction .center .title span {
  font-weight: 700;
}
#container .attraction .center .tab-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
#container .attraction .center .tab-menu li {
  width: 140px;
  line-height: 45px;
  border: 1px solid #c4c4c4;
  text-align: center;
  margin-right: 17px;
  border-radius: 20px;
  font-size: 14px;
}
#container .attraction .center .tab-menu li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #646464;
}
#container .attraction .center .tab-menu li:last-child {
  margin-right: 0;
}
#container .attraction .center .tab-menu li.on {
  border: 2px solid #550adf;
}
#container .attraction .center .tab-menu li.on a {
  color: #550adf;
  font-weight: 500;
}
#container .attraction .center .tab-wrap {
  position: relative;
}
#container .attraction .center .tab-wrap .tab-box {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  opacity: 0;
  z-index: 2;
}
#container .attraction .center .tab-wrap .tab-box.on {
  opacity: 1;
  z-index: 3;
}
#container .attraction .center .tab-wrap .tab-box .list {
  background-color: #fff;
  width: 24%;
}
#container .attraction .center .tab-wrap .tab-box .list:nth-child(1), #container .attraction .center .tab-wrap .tab-box .list:nth-child(2), #container .attraction .center .tab-wrap .tab-box .list:nth-child(3) {
  margin-bottom: 20px;
}
#container .attraction .center .tab-wrap .tab-box .list:first-child, #container .attraction .center .tab-wrap .tab-box .list:last-child {
  width: 48%;
}
#container .attraction .center .tab-wrap .tab-box .list a img {
  width: 100%;
  margin-bottom: 26px;
}
#container .attraction .center .tab-wrap .tab-box .list a .ride-title {
  padding: 0 0 17px 30px;
  font-size: 20px;
}
#container .attraction .center .tab-wrap .tab-box .list a .text {
  font-size: 14px;
  padding: 0 0 25px 30px;
  color: #9a9a9a;
}
#container .attraction .center .tab-wrap .tab-box .list:hover {
  background-color: #550adf;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}
#container .attraction .center .tab-wrap .tab-box .list:hover a {
  color: #fff;
}
#container .attraction .center .tab-wrap .tab-box .list:hover a .text {
  color: #fff;
}

#footer > section {
  width: 100%;
}
#footer > section .center {
  width: 73%;
  margin: 0 auto;
}
#footer .f-top {
  border-top: 1px solid #d9d9d9;
}
#footer .f-top .center {
  border-bottom: 1px solid #d9d9d9;
  box-sizing: border-box;
}
#footer .f-top .center .f-menu {
  display: flex;
  justify-content: space-between;
  padding: 57px 0 40px;
  font-size: 14px;
}
#footer .f-top .center .f-menu li a {
  color: #52525f;
}
#footer .f-top .center .f-menu li a span {
  color: #e11700;
}
#footer .f-bot .center {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
#footer .f-bot .center .left .l-top {
  display: flex;
}
#footer .f-bot .center .left .l-top .f-logo {
  width: 79px;
  height: 56px;
  margin-right: 60px;
}
#footer .f-bot .center .left .l-top .info-copy .info .wrap {
  display: flex;
  margin-bottom: 13px;
}
#footer .f-bot .center .left .l-top .info-copy .info .wrap:last-child {
  margin-bottom: 35px;
}
#footer .f-bot .center .left .l-top .info-copy .info .wrap p, #footer .f-bot .center .left .l-top .info-copy .info .wrap address {
  position: relative;
  margin-right: 23px;
  font-size: 12px;
  color: #848484;
  font-weight: 500;
}
#footer .f-bot .center .left .l-top .info-copy .info .wrap p:nth-child(2)::after, #footer .f-bot .center .left .l-top .info-copy .info .wrap p:last-child::after, #footer .f-bot .center .left .l-top .info-copy .info .wrap address:nth-child(2)::after, #footer .f-bot .center .left .l-top .info-copy .info .wrap address:last-child::after {
  display: none;
}
#footer .f-bot .center .left .l-top .info-copy .info .wrap p::after, #footer .f-bot .center .left .l-top .info-copy .info .wrap address::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 100%;
  background-color: #e0e0e0;
  position: absolute;
  right: -12px;
  top: 1px;
}
#footer .f-bot .center .left .l-top .info-copy .copy {
  font-size: 10px;
  color: #a5a59d;
  margin-bottom: 33px;
}
#footer .f-bot .center .left .l-bot {
  display: flex;
  padding: 0 0 90px 140px;
}
#footer .f-bot .center .left .l-bot .f-wrap {
  display: flex;
  align-items: center;
}
#footer .f-bot .center .left .l-bot .f-wrap .f-icon {
  margin-right: 15px;
}
#footer .f-bot .center .left .l-bot .f-wrap p {
  font-size: 11px;
  color: #acacac;
  line-height: 16px;
}
#footer .f-bot .center .left .l-bot .f-wrap p span {
  margin-right: 15px;
  position: relative;
}
#footer .f-bot .center .left .l-bot .f-wrap p span:first-child::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 11px;
  position: absolute;
  right: -7px;
  top: 3px;
  background-color: #e1e1e1;
}
#footer .f-bot .center .right .r-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
#footer .f-bot .center .right .r-top .f-sns {
  display: flex;
}
#footer .f-bot .center .right .r-top .f-sns li {
  margin-right: 8px;
}
#footer .f-bot .center .right .r-top select {
  height: 45px;
  border-color: #e0e0e0;
  padding: 0 20px;
  box-sizing: border-box;
}

#help {
  position: fixed;
  right: 0;
  bottom: 80px;
  text-align: center;
  z-index: 99;
}
#help .mid {
  position: relative;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 30px;
}
#help .mid a:hover .q1 {
  right: 100%;
}
#help .mid a:hover .q2 {
  right: 15%;
}
#help .mid a p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  transition: all 0.2s;
  font-size: 500;
}
#help .mid a .q1 {
  right: 15%;
}
#help .mid a .q2 {
  right: -55px;
}
#help .bot p {
  font-weight: 700;
  font-size: 10px;
  color: #767676;
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  cursor: pointer;
}
#help .bot p::after {
  content: "";
  display: block;
  width: 2px;
  height: 19px;
  background-color: red;
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  background-color: #777;
}